<div class="fixed bottom-6 right-4 flex flex-col space-y-3 z-40">
  <a href="https://zalo.me/0961624398" target="_bank"
     class="bg-[#0068FF] hover:bg-secondary text-white w-14 h-14 rounded-2xl shadow-lg flex items-center justify-center transition-transform hover:scale-110 active:scale-95 overflow-hidden">
    <%= image_tag "zalo.png", alt: "Zalo", class: "w-14 h-14 object-contain" %>
  </a>

  <a href="tel:0961624398" target="_blank"
     class="bg-[#25D366] hover:bg-green-600 text-white w-14 h-14 rounded-full shadow-lg flex items-center justify-center transition-transform hover:scale-110 active:scale-95">
    <span class="material-symbols-outlined text-3xl">call</span>
  </a>
</div>
